asgiref==3.8.1
beautifulsoup4==4.12.3
cffi==1.16.0
Django==4.2.11
django-bootstrap4==24.1
django-crispy-forms==2.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
importlib-metadata==7.1.0
Markdown==3.6
pillow==10.2.0
pycparser==2.21
soupsieve==2.5
sqlparse==0.4.4
typing-extensions==4.10.0
tzdata==2024.1
zipp==3.18.1
gunicorn
